<!DOCTYPE html>
<html>
<head>
<style>
html, body {
  height: 100%;
  width: 100%;
  background: #F5F5F5;
}
.tela{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cabecalho{
    background: #7749F8;
    border-radius: 4px;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cabecalho_1{
    display: flex;
    height: 100%;
    width: 33.3%;
    align-items: center;
    justify-content: center;   
}
.cabecalho_2{
    display: flex;
    height: 100%;
    width: 33.4%;
    align-items: center;
    justify-content: center;  
}
.cabecalho_3{
    display: flex;
    height: 100%;
    width: 33.3%;
    align-items: center;
    justify-content: center;  
}
.titulos{
    display: flex;
    height: 9%;
    width: 100%;
    align-items: center;
    justify-content: center; 
}
.corpo{
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: row;
} 
.corpo_1{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 30%;
    justify-content: space-around;
}
.corpo_2{
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: center; 
    flex-direction: row;
}
.corpo_2_1{
    display: flex;
    height: 100%;
    width: 33.3%;
    flex-direction: column;
    text-align: center;

}
.corpo_2_2{
    display: flex;
    height: 100%;
    width: 33.4%;
    flex-direction: column;
    text-align: center;

}
.corpo_2_3{
    display: flex;
    height: 100%;
    width: 33.3%;
    flex-direction: column;
    align-items: baseline;
    text-align: center;

}
A{
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
}
.corpo_label
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #152536;
}
.corpo_texto_select{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #6C757D;
    width: 51.8%;
}
.corpo_texto_input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #6C757D;
    width: 50%;
}
tr{
    padding: 10px 20px;
    border: 1px solid #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #152536;
}
td{
    padding: 10px 20px;
    border: 1px solid #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #152536;
    width: 400px;

}
.form_flex{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
</style>
</head>
<body>
    
<div class="tela">
    <div class="cabecalho">
        <div class="cabecalho_1">
            <a href="/cadastro">Dimens찾o</a>
        </div>
        <div class="cabecalho_2">
            <a href="/cadastroProcesso">Processo</a>
        </div>
        <div class="cabecalho_3">
            <a href="/cadastroResultado">Resultados Esperados</a>
        </div>
    </div>
    <div class="titulos">
        <h1>Gerencia de Projetos - PMMC</h1>
    </div>
    <div class="corpo">
        <div class="corpo_1">
            <form action="/cadastroProcesso/incluir_processo" method="post" class="formulario form_flex">

                <label class="corpo_label">Selecione a Dimens찾o</label>
                <%= select_tag "dimensao_id", options_from_collection_for_select(@dimensaos, "id", "descricao"), prompt: "Escolha uma dimens찾o", class: "dimensao corpo_texto_select" %>
                <label class="corpo_label">Cadastre o Processo</label>
                <input class="corpo_texto_input" placeholder="Digite aqui" type="text" name="descricao">
            
            </form>
            
        </div>
        <div class="corpo_2">
            <div class="corpo_2_1">
                <label class="corpo_label">Dimens천es</label>
                <table id="body">
                
                </table>
               
            </div>
            <div class="corpo_2_2">
                <label class="corpo_label">Processos</label>
                <table id="body2">
        
                    <% @processos.each do |processo| %>                
                        <input type="hidden" readonly="readonly" class="resultProcesso" value="<%=processo.dimensao.id%>">
                        <input type="hidden" readonly="readonly" class="descricaoProcesso" value="<%=processo.descricao%>">
                        <input type="hidden" readonly="readonly" class="descricaoDimensao" value="<%=processo.dimensao.descricao%>">        
        
                    <%end%>
                
                </table>
            </div>

            <div class="corpo_2_3">
            
            </div>
          
        </div>
    </div>

</div>

<script>
     var formulario = document.getElementsByClassName('formulario');
        for (var i = 0; i< formulario.length; i++){
          formulario[i].addEventListener('keydown', e => {
                if(e.key == "Enter") {
                    e.target.parentElement.parentElement.submit();
                }
            })
        }
      
    function addEventListenerToForm() {
    
    var formulario = document.getElementsByClassName('formulario');
    for (var i = 0; i< formulario.length; i++){
        formulario[i].addEventListener('keydown', e => {
            if(e.key == "Enter") {
                console.log(e.target.parentElement);
                e.target.parentElement.parentElement.submit();
            }
        })
    }
    }

    var selectDimensao = document.getElementsByClassName("dimensao");
    var inputDimensao = document.getElementsByClassName('inputElDimensao');
    var comparaProcesso = document.getElementsByClassName('resultProcesso');
    var descricaoProcesso = document.getElementsByClassName('descricaoProcesso');
    var descricaoDimensao = document.getElementsByClassName('descricaoDimensao');

    let table = document.createElement('table');
    let thead = document.createElement('thead');
    let tbody = document.createElement('tbody');
    
    let table2 = document.createElement('table');
    let thead2 = document.createElement('thead');
    let tbody2 = document.createElement('tbody');

    table.appendChild(thead);
    table.appendChild(tbody);

    table2.appendChild(thead2);
    table2.appendChild(tbody2);

    document.getElementById('body').appendChild(table);
    document.getElementById('body2').appendChild(table2);
    i = 0;
    while( i < selectDimensao.length) {
        
        selectDimensao[i].addEventListener('change', e => {
            e.target.nextElementSibling.value = e.target.value;
            tbody.innerText = "";
            tbody2.innerText = "";
            
            for(var j = 0 ; j < comparaProcesso.length; j++)
            {
                if(comparaProcesso[j].attributes[3].nodeValue == e.target.value)
                {
                    let row = document.createElement('tr');
                    let heading = document.createElement('td');
                    heading.innerHTML = descricaoDimensao[j].attributes[3].nodeValue;
                    row.appendChild(heading);
                    tbody.appendChild(row);

                    row = document.createElement('tr');
                    heading = document.createElement('td');
                    heading.innerHTML = descricaoProcesso[j].attributes[3].nodeValue;
                    row.appendChild(heading);
                    tbody2.appendChild(row);
                }

            }
        })         
        i++;
    }
</script>

</body>
</html>