<!DOCTYPE html>
<html>
<head>
<style>
html, body {
  height: 100%;
  width: 100%;
  background: grey;
}
.tela{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.tela_1{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.tela_2{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caixa{
    padding: 16px;
    box-shadow: 0 2px 2px -1px;
    width: 310px;
    min-height: 10px;
    margin: 25px 0;
    border-radius: 10px;
    font-weight: 200;
    font-size: 40px;
}
.modal{
    margin-left: 25%;
    margin-top: 10%;
    position: fixed;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.form{
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}
.input_text{
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
}
.legenda{
    margin-left: auto;
    margin-right: auto;
}
.botao_fechar{
    margin-left: 60%;
}
.form{
  
}
</style>
</head>
<body>
<div id="modal-container" class="modal hidden">
    <input type="button" class="botao_fechar"value="X">
    <fieldset class="form">
        <legend class="legenda">Cadastre o novo modelo</legend>
        
        <form action="/cadastroLogin/incluir_login" method="post" class="formulario">
            <div class="form">

                <input type="text" name="nome" class="input_text" placeholder="Digite o nome">
                <input type="text" name="descricao" class="input_text" placeholder="Digite a descricao">
            </div>
        </form>
    </fieldset>
</div>
    <div class="tela">
        <div class="tela_1">
            <h1 class="titulo">Cadastrar Modelo de Maturidade</h1>
        </div>
        <div class="tela_2">
            
            <button type="button" class="caixa">Cadastre novo modelo</button>
            <button type="button" class="caixa">Selecionar Modelo</button>
    
        </div>

    </div>

<script>
    var formulario = document.getElementsByClassName('formulario');
        for (var i = 0; i< formulario.length; i++){
          formulario[i].addEventListener('keydown', e => {
                if(e.key == "Enter") {
                    e.target.parentElement.parentElement.submit();
                }
            })
        }
      
    function addEventListenerToForm() {
    
    var formulario = document.getElementsByClassName('formulario');
    for (var i = 0; i< formulario.length; i++){
        formulario[i].addEventListener('keydown', e => {
            if(e.key == "Enter") {
                console.log(e.target.parentElement);
                e.target.parentElement.parentElement.submit();
            }
        })
    }
    }
</script>
</body>
</html>